<h1>Listing trips</h1>

<table>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Phonenumber</th>
      <th>Date</th>
      <th>Time</th>
      <th>Origin</th>
      <th>Destination</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.fullname %></td>
        <td><%= trip.phonenumber %></td>
        <td><%= trip.date %></td>
        <td><%= trip.time %></td>
        <td><%= trip.origin %></td>
        <td><%= trip.destination %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'delete', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


